# Docker

# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: MyHostedVM
    steps:
    
          - task: Docker@2
            inputs:
              containerRegistry: 'acr'
              repository: 'infymscontainers'
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: $(tag)
               
